<head>
  <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
</head>

<div class="row">
  <h2>
    <p>RNA Reference Charts</p>
    <h6>Isolation and purirication solutions charts samples using RNA use Guide</h6>
  </h2>

</div>

<h3 class="text-center">
  <p>Organic Extraction With TRIzol Reagent</p>
  <h5>Monophasic solution of phenol and guanidine isothiocyanate</h5>
</h3>

<div class="row" id=divChart>
  <canvas id="useTrizolChart">
  </canvas>
</div>

<h3 class="text-center">
  <p>TRIzol RNA Purification Kit</p>
  <h5>Charts with High yield of RNA using the Invitrogen™ TRIzol™ Plus RNA Purification Kit</h5>
</h3>

<div class="row" id=divChart>
  <canvas id="useTrizolKitChart">
  </canvas>
</div>

<h3 class="text-center">
  <p>TRIzol RNA Purification Kit</p>
  <h5>Charts with High yield of RNA using the Invitrogen™ TRIzol™ Plus RNA Purification Kit</h5>
</h3>

<div class="row" id=divChart>
  <canvas id="trizolTubeChart">
  </canvas>
</div>



